<nav>
    <a>Theater</a>
    <ul>
        {{#if username.user}}
        <li><a href="/user_home">Home </a></li>
        <li><a href="/logout">Logout</a></li>
        {{else}}
        <li><a href="/">Home </a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        {{/if}}
    </ul>
</nav>